# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
npm-debug.log

# IDE
.idea/
.DS_Store

# config files
aws_config.json
.env
/dist/

# test files
test.html
